control/__pycache__
html/data/test/a/*
html/data/test/d/*
html/data/test/w/*
html/data/train/a/*
html/data/train/d/*
html/data/train/w/*
html/images/a/*
html/images/d/*
html/images/w/*
network/model/*
network/__pycache__
